@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<hgroup class="title">
    <h1 class="error">Błąd.</h1>
    <h2 class="error">Wystąpił błąd podczas przetwarzania żądania.</h2>
</hgroup>
