*.cache
*.cache
*.cache
*.cache
ExamGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ExamGenerator.v12.suo
ExamGenerator/obj/Debug/ExamGenerator.csprojResolveAssemblyReference.cache
ExamGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
