#tables ul, .tabelRows {  /*$("body").click(function(){$(".treeview li").css("list-style", "none")})*/
	padding: 0;
	margin: 0;
	list-style: none;
}

.tabelRows li { 
    list-style-type: none;
	margin: 0;
	padding: 3px 0pt 3px 19px;
    vertical-align: top;
}

.tagRow span {
    vertical-align: middle;
}



/*
.tabelRows li:first-of-type {background:#B0C4DE !important;} 
.tabelRows li:nth-child(odd) {background:#d4d4f7 ;}  
.tabelRows li:nth-child(even) {background:Lavender;}
    */


span {
    vertical-align: top;
}

.mainHeader {
    font-weight: bold;
    font-size: 19px;
}

.topHeader{
    font-weight:bolder;
    color:darkblue;
}

h3.title {
    font-weight: 600;
}

div.editor-label{
    font-weight: bold;
}

h1.name {
    margin-top: 0.7em;
}

.columnName, .deleteOption, .columnTagsInTags, .addOption{
    display: inline-block;
    font-family: Calibri;
}

.headerName {
    vertical-align: bottom;
    display: inline-block;
    font-family: Calibri;
}



.deleteOption, .addOption {
     text-align: center;
}

.columnName, .headerName       {    width: 34%;}
.deleteOption                  {    width: 10%;}
.addOption                     {    width: 20%;}
.columnTagsInTags              {    width: 90%;
                                    padding: 0px 3px 10px 19px;
}


li.taskRow{
    padding: 3px 0pt 0px 19px;
}

.taskRow span{
    vertical-align: bottom
}

.logo{
     height: 50px;
}

hgroup.title{
    text-align: center;
}

a img.icon {
    border: 0 none;
    outline: none;
    width: 25px;
    height: 25px;
    padding-left:3px;
    padding-right: 3px;
    padding-top: 3px;
    margin: 0em;

    }



a.no-bg-change:hover { background: none !important; }
a.delete-link:hover { background: none !important; }

a img.icon:hover {
        background-color: #c7d1d6;
    }

button, input[type="submit"] {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #009f9f;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  margin-right: 2px;
}

.examButton {
   padding: 4px 50px 4px 50px;
   margin-left: 405px;
}

.taskButton {
  margin-left: 17px;
}

button:hover, input[type="submit"]:hover {
  background: #787878;
}

