@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>GENERATOR KOLOKWIÓW</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Co możesz zrobić w tej aplikacji:</h3>
<ol class="round">
    <li class="one">
        <h5>Zakładka Zadania</h5>
        Pokazane są utworzone zadania wraz z przypisanymi do nich tagami.
        Możesz dodać nowe, usunąć bądź edytować.
    </li>

    <li class="two">
        <h5>Zakładka Tagi</h5>
        Znajdziesz tutaj listę dostępnych tagów, które możesz dodawać oraz usuwać.
    </li>

    <li class="three">
        <h5>Zakładka Kolokwia</h5>
        W tej zakładce możesz generować nowe egzaminy, jak również pobrać te, które zostały już wcześniej wygenerowane.
    </li>
</ol>
